* {
    
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: ReithSans, Arial, Helvetica, freesans, sans-serif;

}

body {

    width: 1024px;
    min-width: 1024px;

}

a {

    text-decoration: none;

}

.top-panel-elements {

    float: left;
    color: black;
    font-weight: bold;
    line-height: 30px;
    font-size: 13px;
    padding: 7px 12px 0px 12px;
    border-right: 1px #dddddd solid;
    height: 33px;

}

#top-panel-logo {

    padding: 1px 12px 1px 23px;

}

#bbc-logo {

    height: 23px;
    margin-top: 7px;

}

#top-panel-sign-in {

    padding-right: 87px;
    padding-left: 15px;
    position: relative;
    bottom: 2px;

}

#sign-in-button {

    height: 17px;
    margin-top: 7px;
    margin-right:2px;

}

#top-panel-sign-in:hover {

    border-bottom: 4px #2788BB solid;
    height: 30px;   

}

#sign-in-text {

    position: relative; 
    bottom: 3px;   
    
}

#top-panel-more {

    padding-right: 40px;

}

#top-panel-news:hover {

    border-bottom: 4px #000000 solid;
    height: 30px;

}

#top-panel-sport:hover {

    border-bottom: 4px #ffd230 solid;
    height: 30px;

}

#top-panel-reel:hover {

    border-bottom: 4px #0068ff solid;
    height: 30px;
    
}

#top-panel-worklife:hover {

    border-bottom: 4px #0052a1 solid;
    height: 30px;

}

#top-panel-travel:hover {

    border-bottom: 4px #589e50 solid;
    height: 30px;

}

#top-panel-future:hover {

    border-bottom: 4px #002856 solid;
    height: 30px;

}

#top-panel-more:hover {

    border-bottom: 4px #262626 solid;
    height: 30px;

}

#black-arrow-down {

    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid black;
    position: relative;
    top:9px;
    left: 55px;
    bottom: 2px;
    margin-right: 28px;

}

#magnifying-glass {

    height: 16px;
    position: relative;
    top: 1px;
    right: 28px;

}

input {

    background-color: #dddddd;
    font-weight: bold;
    height: 25px;
    width: 192px;
    padding-left: 7px;
    margin-top: 5px;
    position: relative;
    bottom: 4px;

}

#input-div {

    border-right: none;
    width: 213px;

}

::placeholder { 

    color: black;

}

#red-panel {

    background-color: #BB1918;
    padding-top: 8px;
    padding-left:16px;
    min-width: 100%;
    height: 84px;
    float: left;
    border-top: 1px #e53434 solid;

}

#news-sign {

    color: white;
    font-size: 40px;
    padding-left: 12px;

}

#red-panel-elements-div {

    margin-top: 11px;

}

.red-panel-elements {

    color: white;
    font-size: 13px;
    border-right: 1px #e21d1d solid;
    padding: 5px 14px 7px 8px;

}

#red-panel-tech {

    border-bottom: 4px white solid;

}

.red-panel-elements:hover {

    border-bottom: 4px white solid;

}

#red-more-element {

    border-right: none;

}

#red-more-element:hover {

    border-bottom: none;
    background-color: black;

}

#white-arrow-down {
    
    width: 0; 
    height: 0; 
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid white;
    position: relative;
    top: 9px;
    left: 5px;
    
}

#articles-div {

    margin-left: 24px;
    margin-right: 25px;
    position: relative;
    top: 10px;
    float: left;

}

#tech-header {

    font-size: 20px;
    line-height: 24px;
    width: 43px;
    color: #404040;
    border-bottom: 3px solid #BB1918;

}

#tech-main-articles-div {

    margin-top: 18px;

}

.tech-main-articles-elements {

    float: left;
    width: 465px;
    padding-left: 17px;
    
}

#tech-main-image {

    height: 275px;
    width: 480px;
    padding-left: 0px;

}

#tech-head-article {

    font-size: 28px;
    line-height: 32px;
    color: black;
    font-weight: bold;
    margin-top: 10px;

}

.article-link:hover, .article-link:active, .article-link:visited:hover, #tech-head-article:hover, #tech-head-article:active, #tech-head-article:visited:hover {

    text-decoration: underline;
    color: #2180A1

}

.article-link:visited, #tech-head-article:visited {

    color: #716C65;

}

#tech-head-article-description {

    font-size: 14px;
    line-height: 18px;
    color: black;
    margin-top: 11px;
    margin-bottom: 10px;

}

.category-text{

    font-size: 13px;
    line-height: 16px;
    color: black;

}

.category-text:visited {

    color: black;

}

.clock-image {

    width: 11px;
    height: 11px;

}

.time-element {

    border-right: 1px #dddddd solid;
    padding-right: 8px;
    margin-left: 2px;

}

#article-list {

    position: relative;
    left: 35px;
    top: 39px;

}

.list-elements {

    padding-left: 0px;
    color: black;
    margin-bottom: 7px;

}

.list-elements-links {

    color: black;
    font-weight: bold;

}

.list-elements-links:visited {

    color: black;

}